.DS_Store
/.build
/dist
/Packages
/*.app
/*.dSYM
/.swiftpm
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.env
.env.*
